*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}


/*common*/

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.w_100 {
    width: 100%;
}

.w_80 {
    width: 80%;
    margin: 0 auto;
}

.w_70 {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

h3, h4 {
    line-height: 3;
    font-size: 22px;
    font-weight: bold;
}

/* a:hover {
    text-decoration: underline;
} */

.btn {
    padding: 5px 20px;
    color: white;
}

/*fine common*/

/* header */

.nav_bar {
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

.nav_bar a {
    margin: 15px;
}

.nav_left {
    float: left;
}

.nav_right {
    float: right;
}

.nav_left, .nav_right {
    padding: 0 20px;
}

#logo {
    vertical-align: middle;
    padding-bottom: 5px;
}

.blue_btn {
    background-color: #0061FF ;
}

.white_btn {
    color: black;
    border: 1px solid black;
}

/* fine header */


/* main */

.jumbotrone {
    background-color: #B4D0E7;
    height: 700px;
}

.jumbotrone_content {
    position: relative;
}

.jumbotrone h1 {
    font-size: 70px;
}

.jumbotrone img {
    width: 70%;
    float: left;
    padding: 40px 0 40px 40px;
}


.jumbo_text {
    width: 30%;
    float: left;
    padding: 40px 40px 40px 0;
    font-size: 15px;
    font-weight: 600;
}

.jumbo_text p {
    margin: 40px 0 40px 0;
}

.down_arrow {
    font-size: 50px;
}

.column_banner {
    padding-top: 200px ;
}

.column_banner h2 {
    padding: 30px 0;
    font-size: 40px;
    font-weight:900;
}

.form_radio {
    padding: 30px 0 ;
    font-size: 20px;
    font-weight: 600;
}

input[type='radio']:nth-child(2) {
    margin: 0 0 0 25px;
}

.column {
    float: left;
    width: calc((100% / 3) - 20px);
    height: 1100px;
    border: 1px solid lightgray;
}

.mid {
    margin: 0 30px;
}

.column_title {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-weight: 700;
}

.plan_type, .features {
    margin: 30px;
}

.plan_type p:nth-child(2) {
    font-weight: bold;
}

.plan_type p:nth-child(3) {
    color: gray;
}

.plan_type ul, .features ul {
    list-style: none;
    margin-top: 25px;
    text-indent: -10px;
    margin: 20px;
    font-weight: 600;
}

.plan_type ul li, .features ul li {
    padding-top: 20px;
}

.try_free p {
    line-height: 5;
    text-align: center;
}

.try_free .btn {
    padding: 15px 75px;
}

.or {
    display: inline-block;
    border-bottom: 1px solid lightgray;
    margin: 30px 5px 30px 30px;
    padding-bottom: 30px;
}

.try_free span a {
    text-decoration: underline;
    color: blue;
}

.features ul li i{
    color: blue;
}

.under_column {
    position: relative;
    margin: 50px auto;
    height: 250px;
    border: 1px solid lightgray;
}

.under_column_text {
    line-height: 3;
    margin: 30px;
}

.under_column_text p:nth-child(2) {
    font-weight: bold;
}

.under_column_text p:nth-child(3) {
    font-weight: 600;
}

.under_column_btn {
    top: 70px;
    right: 0;
    position: absolute;
    padding: 20px 30px;
}

.search_partner {
    margin-top: 200px;
}

.search_partner .partner_img {
    float: left;
    width: 60%;
}

.partner_img img {
    max-width: 100%;
}

.search_partner .partner_text {
    float: left;
    width: 40%;
    padding: 70px;
}

.partner_text h3 {
    line-height: normal;
}

.partner_text p {
    margin-top: 30px;
    font-weight: 600;
}

/* fine main */


/* debug*/

.debug {
    background-color: red;
    height: 1000px;
}

/* fine debug */